*
{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navBar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navBar_logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    border-radius: 3px;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

/** For Deliver to India Box **/

.up_add{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.down_add{
    font-size: 1rem;
    margin-left: 3px;
}

.add_icon{
    display: flex;
    align-items: center;    
}

#search_button{
    background-color: orange;
}

.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 2px;
}

.nav_search:hover{
    border: 2px solid orange;
}

.search_select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;  
}

.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: none;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

span{
    font-size: 0.7rem;
}

.down_signin{
    font-size: .85rem;
    font-weight: 700;
}

.nav_cart i{
    font-size: 30px;
}

.nav_cart{
    font-size: .85rem;
    font-weight: 700;
}

.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel_ops p{
    display: inline;
    margin-left: 15px;
}

.panel_ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
}

@keyframes scroll{
    0%{background-image: url(hero_image.jpg);}
    12%{background-image: url(hero_image.jpg);}
    16%{background-image: url(hero_image_2.jpg);}
    28%{background-image: url(hero_image_2.jpg);}
    32%{background-image: url(hero_image_3.jpg);}
    44%{background-image: url(hero_image_3.jpg);}
    48%{background-image: url(hero_image_4.jpg);}
    60%{background-image: url(hero_image_4.jpg);}
    64%{background-image: url(hero_image_5.jpg);}
    76%{background-image: url(hero_image_5.jpg);}
    80%{background-image: url(hero_image_6.jpg);}
    96%{background-image: url(hero_image_6.jpg);}
    100%{background-image: url(hero_image.jpg);}
}

.hero_section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: scroll 30s ease-in-out 0s infinite normal;
}

.hero_msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero_msg  a{
    color: #007185;
    text-decoration: none;
}

.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box_img{
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box_content
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box_content p{
    color: #007185 ;
}

footer{
    margin-top: 15px;
}

.foot_panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
}

.foot_panel2{
    background-color: #222f3d;
    color: white;           
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul p{
    font-weight: 700;
}
ul a{
    display: block;
    font-size: .85rem;
    margin-top: 10px;
    color: #dddddd
}

.foot_panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot_panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: .7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}